/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: >0.3%,last 5 version,not dead
*/

.contentArea {
  font-size: 1rem;
  padding: 3.75rem 1.5rem;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  justify-items: center;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;
}

.intro {
  font-size: 1rem;
  color: white;
  text-align: center;
  margin: 2rem 0;
  max-width: 35rem;
  flex-grow: 100;
}

.intro h1 {
  font-size: 1.75em; /*28px*/
  line-height: 1.3em; /*36.4px*/
  margin-bottom: 0.875em; /*24.5px*/
}

.signUp {
  font-size: 1rem;
  max-width: 35rem;
}

.pricing {
  font-size: 1rem;
  color: white;
  text-align: center;
  background-color: var(--blue);
  padding: 1.25em 3em;
  margin: 0 auto 1.5em auto;
  max-width: 33.75rem;
  border-radius: 0.5em;
  box-shadow: 0 0.5em 0 0 rgba(0, 0, 0, 0.175);
}

.pricing strong {
  font-weight: 600;
}

@media (min-width: calc(1.5rem + 35rem + 35rem + 1.5rem)) {
  .contentArea {
    grid-template-columns: 35rem 35rem;
    grid-template-rows: auto;
    justify-items: stretch;
    align-items: center;
    justify-content: center;
    row-gap: none;
  }

  .intro {
    text-align: left;
  }

  .intro h1 {
    font-size: 3.15em; /*50.4px*/
    line-height: 1.1em; /*55.44px*/
    margin-top: 0.1984em; /*10px*/
    margin-bottom: 0.6em; /*30.24px*/
  }

  .pricing {
    padding: 1em 3em;
    font-weight: 300;
    letter-spacing: -0.01em;
  }
}
